<div class="row">
    <div class="col-md-5">
        <button class="btn btn-success" (click)="onNewChatacter()"> New Character</button>
        <hr>
            <div class="list-group">
                <app-character-item *ngFor="let characterEl of characters"
                [index]="getIndex(characterEl)"
                [character]="characterEl">
                </app-character-item>
        </div>
    </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
    </div>
</div>