<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="buffForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success"> Save </button>
                    <button type="button" class="btn btn-danger"> Cancel </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                        type="text" 
                        id="name"
                        formControlName="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input 
                        type="text" 
                        id="duration"
                        formControlName="duration"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Type</label>
                            <input 
                            type="text"
                            id="buffState"
                            [typeahead]="buffTypes"
                            [typeaheadOptionsLimit]="20"
                            [typeaheadMinLength]="0"
                            placeholder="Pick one"
                            formControlName="test"
                            class="form-control"
                            autocomplete="off">
                        </div>
                    </div>
                </div>
        </form>
    <div>
</div>
