<div class="list-item clearfix">
    <h4 class="list-group-item-heading"><b> {{buff.name}}</b> </h4>
    <p class="list-group-item-text"> {{buff.type}} </p>
    <p class="list-group-item-text"> Level: {{buff.level}} </p>
    <p class="list-group-item-text"> Class: {{buff.clas}} </p>
    <p class="list-group-item-text"> Duration: {{buff.duration}} </p>
    <div class="list-group-item-text"> <p *ngFor="let value of buff.value"> <b> + {{value.value(value.special)}} {{ value.name }} </b> of bonus {{value.type}}</p> </div>
    <hr>
</div>
<button appDropdown>
    <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
     <ul class="dropdown-menu">
        <li><a style="cursor: pointer" >Save Data</a></li>
        <li><a style="cursor: pointer" >Fetch Data</a></li>
    </ul>
