<div class="list-item clearfix">
        <h4 class="list-group-item-heading"><b> </b> </h4>
        <p class="list-group-item-text">  </p>
        <p class="list-group-item-text"> Level: </p>
        <p class="list-group-item-text"> Class: </p>
        <p class="list-group-item-text"> Duration:  </p>
        <div class="list-group-item-text"> <p >Test</p> </div>
        <hr>
    </div>
<div class="btn-group open" appDropdown>
    <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Buff <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a style="cursor: pointer" >Edit Buff</a></li>
        <li><a style="cursor: pointer" >Delete Buff</a></li>
    </ul>
</div>