<div
        class="list-group-item clearfix character"
        routerLinkActive="active">
        <div class="col-md-5"
        style="cursor: pointer; margin-top: 10px;">
                <h4 class="list-group-item-heading"><b> {{character.name}}</b> </h4>
        </div>
        <div class="col-md-5 col-xs-5">
            <label 
                for="initiative"> Initiative</label>
            <input 
                type="number" 
                id="initiative"
                [placeholder]="character.initiative">
        </div>
        <button class="col-md-2 col-xs-2">
            X
        </button>
</div>
<div>
</div>

