<div class="row">
        <div
        class="col-md-9 col-xs-9 list-group-item clearfix character "
        [routerLink]="[index]"
        routerLinkActive="activePlayer"
        style="cursor: pointer; padding-bottom: 17px;">
        <div class="col-md-4 col-xs-4"
        style="cursor: pointer; margin-top: 10px;">
                <h4 class="list-group-item-heading"><b> {{character.name}}</b> </h4>
        </div>
        <div class="col-md-4 col-xs-4">
            <label 
                style="font-size: larger;"
                for="initiative">
                HP:</label>
            <input 
                style="font-size: x-large; font-weight: 700; width: 80%; text-align: center;"
                type="number" 
                id="hitpoints"
                [value]="character.hitpoints"
                (input)="onUpdateHitpoints($event.target.value)">
        </div>
        <div class="col-md-4  col-xs-4">
            <label 
                style="font-size: medium;"
                for="initiative">
                Init:</label>
            <input 
                style="font-size: larger; font-weight: 700; width: 80%; text-align: center;"
                type="number" 
                id="initiative"
                [value]="character.initiative"
                (input)="onUpdateInitiative($event.target.value)">
        </div>
    </div>
    <div class="col-md-3 col-xs-3"
    style="margin-bottom: 10px;">
                <div 
                class="row"
                style="padding-left: 2px; padding-bottom: 1px;">
                    <button
                    style="margin-right: 1px;"
                    class="btn btn-danger"
                    (click)="onRemove()">
                        Remove 
                    </button>
                    <button
                    class="btn btn-warning"
                    (click)="onEdit()">
                        Edit
                    </button>
                </div>
                    <div class="row"
                    style="padding-left: 2px; padding-bottom: 1px;">
                        <button class="btn btn-success">
                            Buffs
                        </button>
                </div>
    </div>
</div>
